[package]
name = "cachyos-hello"
version = "0.7.0"
authors = ["Vladislav Nepogodin <nepogodin.vlad@gmail.com>"]
license = "GPLv3"
edition = "2021"

[dependencies]
subprocess = "0.2.9"
once_cell = "1.12.0"
gettext-rs = { version = "0.7", features = ["gettext-system"] }
gtk = { version = "0.15.5", features = ["v3_24_30"] }
gio = { version = "0.15.12", features = ["v2_72"] }
gdk = "0.15.4"
gdk-pixbuf = "0.15.11"
glib = "0.15.12"
serde = { version = "1.0.137", features = ["derive"] }
serde_json = "1.0.81"

[profile.release]
strip = "symbols"
panic = "abort"
lto = true
opt-level = 3
codegen-units = 1
